@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap');

:root {
    --background-color: ghostwhite;

    --cart-margin: 5px;
    --cart-margin-top: 10px;
    --cart-width: 90vw;
    --cart-height: 42vh;
    --cart-border-radius: 0px;
    --cart-border: 1px solid black;

    --memo-logo-size: 35px;

    --cart-header-height: 20%;
    --cart-header-margin: 5px;
    --cart-header-font-size: 1em;
    --cart-overflow: scroll;

    --button-border-radius: 0px;
    --button-background-color: #8c8574;
    --button-background-color-hovered: #777162;
    --button-text-color: white;
    --button-margin: 5px;
    --button-transition: 0.2s linear all;
    --button-padding: 7px;
    --button-height: 40px;
    --button-width: 90vw;
    --button-margin: 20px;

    --transition: 0.3s ease-out all;

    --font: "Cardo", serif;

    --shadow: 2px 0px 2px 1px rgba(0, 0, 0, 0.45);

    --item-border: 1px solid lightgray;
    --item-font-size: 0.75em;
}

*, html {
    background-color: var(--background-color);
    
    margin: 0px;
    padding: 0;

    font-family: var(--font)
}

.dual-cart {
    background-color: var(--background-color);
    
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart {
    width: 90vw;
    height: calc(var(--cart-height) - var(--cart-margin));

    margin: var(--cart-margin);
    margin-top: var(--cart-margin-top);

    border-radius: var(--cart-border-radius);

    border: var(--cart-border);

    transition: var(--transition);

    overflow-y: var(--cart-overflow);

}

.cart-header {
    width: 100%;
    height: var(--cart-header-height);

    position: sticky;
    top: 0;

    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    transition: var(--transition);

    box-shadow: var(--shadow);

}

.cart-header h2 {
    margin: var(--cart-header-margin);

    font-size: var(--cart-header-font-size);

    display: flex;
    justify-content: space-between;

    background-color: transparent;
}

.logo-text-wrapper {
    display: inline-flex;
}

.memo-logo {
    width: var(--memo-logo-size);
    height: var(--memo-logo-size);

    background-image: url("/img/memo-logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    margin-right: 10px;
    margin-left: 5px;
}

.collapse-button {
    width: 35px;
    height: 25px;

    outline: none;
    border: none;

    cursor: pointer;

    color: var(--button-text-color);
    background-color: var(--button-background-color);

    border-radius: var(--button-border-radius);

    margin: 10px;

    transition: var(--button-transition);
}

.collapse-button:hover {
    background-color: var(--button-background-color-hovered);
}

.experiencememo-button {
    width: var(--button-width);
    height: var(--button-height);

    text-transform: uppercase;

    background-color: var(--button-background-color);

    cursor: pointer;

    outline: none;
    border: none;

    transition: var(--button-transition);

    padding: var(--button-padding);
    
    margin: var(--button-padding)
}

.experiencememo-button:hover {
    background-color: var(--button-background-color-hovered);
}

.item {
    width: 100%;
    height: 90px;

    border-bottom: var(--item-border);

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: var(--item-font-size);
}

.item-image {
    width: 40px;
    height: 40px;
}

.item-image img {
    width: 40px;
    height: 40px;
}

.item-name-description p {
    max-width: 100px;
}

#remove-item {
    width: 20px;

    font-size: 2em;

    cursor: pointer;
}

#remove-item:before {
    display: inline-block;
    content: "\00d7";
}

