@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --background-color: #fbfaf4;

    --cart-margin: 5px;
    --cart-margin-top: 10px;
    --cart-width: 90vw;
    --cart-height: 42vh;
    --cart-border-radius: 3px;
    --cart-border: 1px solid black;

    --memo-logo-size: 40px;

    --cart-header-height: 20%;
    --cart-footer-height: 15%;
    --cart-header-margin: 5px;
    --cart-header-font-size: 1.5em;
    --cart-footer-font-size: 1em;
    --cart-overflow: scroll;

    --button-border-radius: 2px;
    --button-background-color: #5699a2;
    --button-background-color-hovered: #4d8991;
    --button-text-color: white;
    --button-margin: 5px;
    --button-transition: 0.2s linear all;
    --button-padding: 7px;
    --button-height: 55px;
    --button-width: 90vw;
    --button-margin: 20px;
    --button-font-size: 1.25em;

    --transition: 0.3s ease-out all;

    --font-cardo: "Cardo", serif;
    --font-open-sans: "Open Sans", sans-serif;

    --shadow: 2px 0px 2px 1px rgba(0, 0, 0, 0.45);

    --item-border: 1px solid lightgray;
    --item-font-size: 0.75em;
}

*, html {
    background-color: var(--background-color);
    
    margin: 0px;
    padding: 0;
}

.dual-cart {
    background-color: var(--background-color);
    
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart {
    width: 90vw;
    height: calc(var(--cart-height) - var(--cart-margin));

    margin: var(--cart-margin);
    margin-top: var(--cart-margin-top);

    border-radius: var(--cart-border-radius);

    border: var(--cart-border);

    transition: var(--transition);

    overflow-y: var(--cart-overflow);

}

.cart-header {
    width: 100%;
    height: var(--cart-header-height);

    position: sticky;
    top: 0;

    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    transition: var(--transition);

    box-shadow: var(--shadow);

}


.cart-header h2 {
    margin: var(--cart-header-margin);

    font-family: var(--font-cardo);
    font-size: var(--cart-header-font-size);

    display: flex;
    justify-content: space-between;

    background-color: transparent;
}

.cart-footer {
    width: 100%;
    height: var(--cart-footer-height);

    position: sticky;
    bottom: 0;

    display: inline-flex;
    align-items: center;

    transition: var(--transition);

    box-shadow: var(--shadow);
}

.cart-footer p {
    margin: var(--cart-header-margin);

    font-family: var(--font-open-sans);
    font-size: var(--cart-footer-font-size);

    color: black;

    position: absolute;
    right: 5;
}

.logo-text-wrapper {
    display: inline-flex;
}

.memo-logo {
    width: var(--memo-logo-size);
    height: var(--memo-logo-size);

    background-image: url("https://www.experiencememo.com/images/video-logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    margin-right: 10px;
    margin-left: 5px;
}

@media only screen and (max-width: 768px) {
    #retailer-cart-total, #memo-cart-total {
        font-size: 1em;
    }

    .cart-header h2 {
        font-size: 1.1em;
    }
    
}

.collapse-button {
    width: 35px;
    height: 25px;

    outline: none;
    border: none;

    cursor: pointer;

    color: var(--button-text-color);
    background-color: var(--button-background-color);

    border-radius: var(--button-border-radius);

    margin: 10px;

    transition: var(--button-transition);
}

.collapse-button:hover {
    background-color: var(--button-background-color-hovered);
}

.experiencememo-button {
    width: var(--button-width);
    height: var(--button-height);

    text-transform: uppercase;

    background-color: var(--button-background-color);

    cursor: pointer;

    outline: none;
    border: none;

    transition: var(--button-transition);

    padding: var(--button-padding);
    
    margin: var(--button-padding);

    color: var(--button-text-color);

    font-size: var(--button-font-size);

    border-radius: var(--button-border-radius);
}

.experiencememo-button:hover {
    background-color: var(--button-background-color-hovered);
}

.item {
    width: 100%;
    height: 90px;

    border-bottom: var(--item-border);

    font-family: var(--font-open-sans);

    display: grid;
    grid-template-columns: 10% 20% 60% auto;

    font-size: var(--item-font-size);
}

.item > *:nth-child(n) {
    margin: 5px;
}

.item-image {
    width: 45px;
    height: 45px;
    
}

.item-image img {
    width: 45px;
    height: 45px;
}

.item-name-description p {
    max-width: 150px;
}

#remove-item {
    margin-right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

#remove-item:after {
    display: inline-block;
    content: "\00d7";
    font-size: 1.5em;
}


@media only screen and (max-width: 600px) {
    .item {
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
    }

}